
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: #000;
}

p {
    line-height: 1.7;
}

ul {
    list-style: none;
}

li {
    line-height: 2.2;
}

h1,
h2,
h3 {
    font-weight: 600;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: none;
}

.header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header ul li {
    margin-left: 20px;
}

.header ul li a {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.header ul li a:hover {
    color: #3CC2F5;
}
.header ul li a:focus {
    color: #f599b2;
}

.header ul li a svg {
    margin-right: 5px;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 20px;
}

.heading p {
    color: #828282;
}

.form {
    width: 70%;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
}

.form-group label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 5px;
    background: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-align: center;
    appearance: button;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-block {
    width: 100%;
    margin-bottom: 20px;
}

.btn-danger {
    background: darkred;
    border: none;
}

.btn-payed {
    padding: 10px 20px;
    background: rgb(22, 71, 54);
    border: 1px solid #000;
    border-radius: 5px;
    color: #fff;
}

.btn:hover {
    transform: scale(0.98);
}

.img-container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.img-style {
    width: 100%;
    height: 100%;
    borderRadius: 10px;
    backgroundSize: cover;
    backgroundPosition: flex;
}
/* Login styles */
.Login {
    width: 50%;
    color: #3CC2F5;
    border-color: #3CC2F5;
    border-radius: 10px;
    background-color: #F65E87;
    max-width: 960px;
    margin-top: 2rem;
    padding-top: 0 20px;
    text-align: center;
}

.Login:hover{
    transform: scale(0.98);
    border-color: #F65E87;
    background-color: #3CC2F5;
    color: #F65E87
}

.Ltext {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 50px;
    padding: 0 20px;
    color: #F65E87
}
.Ltext:hover{
    color: #3CC2F5
}
/* Register styles */
.Register{
    margin-top: 2rem;
    border-radius: 5px;
    background-color: #f599b2;
    color: #0680b1;
}

.Register:focus{
    background-color: #F65E87;
    color: #3CC2F5;
}

.Registerbtn{
    width: 50%;
    color: #3CC2F5;
    border-color: #3CC2F5;
    border-radius: 10px;
    background-color: #f599b2;
    max-width: 960px;
    margin-top: 2rem;
    padding-top: 0 20px;
    text-align: center;
}

.Registerbtn:hover{
    transform: scale(0.98);
    border-color: #F65E87;
    background-color: #3CC2F5;
    color: #F65E87
}
/* booking styles */

.Emptybook{
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
    color: #F65E87;
}

.BookingBtn{
    width: 50%;
    color: #3CC2F5;
    border-color: #3CC2F5;
    border-radius: 10px;
    background-color: #f599b2;
    max-width: 960px;
    margin-top: 2rem;
    padding-top: 0 20px;
    text-align: center;
}

.BookingBtn:hover{
    transform: scale(0.98);
    border-color: #F65E87;
    background-color: #3CC2F5;
    color: #F65E87
}
/* Destinations styles */
.wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;

}

.item {
    padding: 2rem;
    font-size: 2rem;
    text-align: center;
    width: 18rem;
    margin: 1rem;
    flex: 1;
  }

.DestinationCard{
    width: 18rem;
    height: 18rem;
    margin: 2rem;
    max-width: 960px;
    margin-top: 2rem;
    padding-top: 0 20px;
    text-align: center;
}

.DestImg{
    width: 17.9rem;
    margin-bottom: 1rem;
    padding-bottom: 0 20px;
}

/* homepage styles */
.homePage{
    background-image: url(http://cdn.cnn.com/cnnnext/dam/assets/220707082213-underscored-island-vacation-packing-list-lead.jpg);
    background-size: cover;
    color: #0680b1;
    height: 100vh;
}
.Roam{
    text-align: center;
    color: #F65E87;
    padding-top: 5rem;
}

.Link{
    color: #F65E87;
    text-align: center;
    margin-top:25px;
    padding-top: 5rem;
    font-size: larger;
}

.Link:hover{
    color: #f599b2;
}

.linkContainer{
    display: flex;
    justify-content: center;
}